{% extends 'base.html.twig' %}

{% block title %}Question: wtf {% endblock %}

{% block body %}
    <h1>{{ question }}</h1>

    <div>
        There will eventually be questions here
    </div>

    <h2>Answers ({{ answers|length }})</h2>

    <ul>
        {% for answer in answers %}
            <li>{{ answer }}</li>
        {% endfor %}
    </ul>
{% endblock %}